header {
    position: fixed;
    width: 100%;
    top: 0;
}

.feature {
    margin-top: 3em;
}

img {
    max-width: 60%;
    max-height: 500px;
    margin: 0 7em 2em 7em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    max-width: 700px;
}