:root {
    --main-text-align: center;
  }

body{
    font-family: 'Mansalva', cursive;
}

li:hover{
    color: rgb(240, 236, 236);

}

.references{
    text-align: var(--main-text-align);
}

.referencesList{
    text-align: var(--main-text-align);
}